@model database_for_concept_reports.Models.Concept

<form asp-action="Edit" asp-controller="Concept" method="POST">

    <br>
    <div class="form-group">
        <label asp-for="Title" class="control-label">Title</label>
        <input asp-for="Title" class="form-control" type="text" id="Title">
    </div>

    <div class="form-group">
        <label asp-for="ResponsiblePerson" class="control-label">Responsible Person</label>
        <input asp-for="ResponsiblePerson" class="form-control" type="text" id="ResponsiblePerson">
    </div>

    <div class="form-group">
        <label asp-for="GroupId" class="control-label">Group</label>
        <input asp-for="GroupId" class="form-control" type="text" id="GroupId">
    </div>

    <div class="form-group">
        <label asp-for="AdheresToRules" class="control-label">Adheres to rules</label>
        <select asp-for="AdheresToRules" class="form-control" id="Selector">
            <option>True</option>
            <option>False</option>
            <option>Not set</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Explanation" class="control-label">Explanation</label>
        <textarea asp-for="Explanation" class="form-control" rows="5" id="Explanation"></textarea>
    </div>
    
    <div class="form-group">
        <label asp-for="Discussion" class="control-label">Discussion</label>
        <textarea asp-for="Discussion" class="form-control" rows="5" id="Discussion"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Conclusion" class="control-label">Conclusion</label>
        <textarea asp-for="Conclusion" class="form-control" rows="5" id="Discussion"></textarea>
    </div>

    <button type="submit" class="btn btn-default" id="Submit">Submit</button>
</form>