@model IEnumerable<database_for_concept_reports.Models.Concept>

<h2>List of concepts</h2>
<br>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Date created</th>
        <th>Action</th>
    </tr>

    @foreach (var concept in Model)
    {
        <tr>
            <td>@concept.Id</td>
            <td>@concept.Title</td>
            <td>@concept.DateCreated</td>
            <td><a asp-action="View" class="btn btn-default" asp-route-id="@concept.Id" id="View">View</a></td>
        </tr>
    }
</table>
